**Déclaration de variables**

Déclarer une variable "prix" contenant le nombre 10 et une variable "quantite" contenant 3.

Calculer le produit du prix et de la quantité ( prix * quantite )

Déclarer une variable "message" contenant le mot "Hello Word"


Déclarer une variable booléenne "est_present" qui vaut Vrai
Vérifier les types des vairables.

**Affectation**

Déclarer une variable "prix" égale à une variable "prix_ht" elle même égale au nombre 100. Utiliser la fonction "print" pour afficher le "prix".

**Operateurs relationnels**   
Déclarer une variable "prix_carrefour" égale à 200   
Déclarer une variable "prix_leclerc" égalte à 180   

Comparer les valeurs en utilisant les opérateurs < , > ...

10

# Structure de données
les Lists sont des  séquences de données dont chaque élément peut être appelé via son index.
Déclarer une liste vide

Déclarer une liste avec 5 éléments et afficher le premier élément de cette liste, puis le dernier.

Le slicing permet de récupérer une sous partie de la liste. Récuperer les éléments à l'indice 2 et 3 de la liste suivant.

In [ ]:
num = [10,1,2,6,5]

A l'aide la fonction len. Afficher la longueur de la liste

A l'aide de la fonction min et max afficher le plus petit et le plus grand élément. A votre avis ces fonctions sont elles utilisables sur une liste de string ?

In [ ]:
nlist = ['1','94','93','1000']

Il est possible de vérifier si un élément est présent dans une list en utilisant la syntaxe suivante: "element" in "list". Vérifier que le mot Terre est présent dans cette list

In [ ]:
names = ['Terre','air','Feu','Eau']

True

La fonction append permet d'ajouter un élément à une liste. Ajouter un élement à la list "names"

# Set 
Les sets sont des structures avec des éléments uniques. Utiliser la fonction set pour enlever les doublons dans la list suivantes:

In [ ]:
l = [1, 2, 3 , 3, 4, 5 , 6, 7, 7, 7]

# Dictionnaire
Définir un dictionnaire vide puis ajouter les paires clés valeurs suivantes: 
One, 1
Two, 2

Utiliser les fonctions values et keys pour récuperer les valeurs et les clés

# Structures conditionnelles 
Utiliser "if" pour renvoyer "Hello" si la valeur x est superieure à 10

In [ ]:
x = 12

Ajouter une condition pour renvoyer "World" sinon

Utiliser if, elif et else pour renvoyer "x>y", "x<y" et "x=y" dans chacun des cas, puis tester votre code en changeant les valeurs de x et y

In [ ]:
x = 10
y = 12

En utilisant la fonction input(), récupérer les données prix_carrefour et prix_leclerc.

Si le prix carrefour est inférieur au prix leclerc afficher le message "Carrefour est moins cher", sinon si le prix carrefour est supérieur au prix leclerc afficher le message "Carrefours est plus cher", sinon afficher le message "Egaux !!!"

# Loops 
Utiliser une boucle for avec la fonction range pour afficher les chiffres de 0 à 5. Vous pouvez utiliser la fonction range

Utiliser une boucle while pour afficher les nombres de 0 jusqu'à 5

# Fonctions
La plupart du temps, les traitements utilisés dans un algorithme sont répétés plusieurs fois. Pour gagner du temps et organiser le code il est plus simple de les encapsuler dans des fonctions.
Définir une fonction qui affiche "Hello World". Puis appeler cette fonction.

On peut utiliser le mot clé "return" à la fin d'une fonction pour renvoyer un résultat.   
Ecrire une fonction qui prend deux variables en paramètres, faire leur produit puis retourner le résultat.

# Lambda functions
Fonctions permettant d'itérer sur une list

In [ ]:
z = lambda x: x*x

In [ ]:
z(8)

64